<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.routy.routyback.mapper.user.PayMapper">

  <insert id="insertOrder" parameterType="com.routy.routyback.dto.order.OrdersDTO">
    <selectKey keyProperty="odNo" resultType="long" order="BEFORE">
      SELECT SEQ_ORDERS_NO.NEXTVAL FROM DUAL
    </selectKey>
    INSERT INTO ORDERS (
    odNo, userNo, odName, odHp, odZip, odRoadAddr, odDetailAddr,
    odPrdPrice, odDelvPrice, odDelvMsg, odDelvKeyType, odRegdate
    ) VALUES (
    #{odNo}, #{userNo}, #{odName}, #{odHp}, #{odZip}, #{odRoadAddr}, #{odDetailAddr},
    #{odPrdPrice}, #{odDelvPrice}, #{odDelvMsg}, #{odDelvKeyType}, SYSDATE
    )
  </insert>

  <insert id="insertPayProduct" parameterType="map">
    INSERT INTO PAY_PRODUCT_MAPPING (ppMapNo, odNo, prdNo, ppMapStock, ppMapPrice, ppMapRegdate)
    VALUES (SEQ_PP_MAP_NO.NEXTVAL, #{odNo}, #{prdNo}, #{qty}, #{price}, SYSDATE)
  </insert>

  <select id="selectOrder" resultType="com.routy.routyback.dto.order.OrdersDTO">
    SELECT *
    FROM ORDERS
    WHERE odNo = #{odNo}
  </select>

  <insert id="insertPaySuccess" parameterType="map">
    <selectKey keyProperty="payNo" resultType="long" order="BEFORE">
      SELECT SEQ_PAY_NO.NEXTVAL FROM DUAL
    </selectKey>

    INSERT INTO PAY (
    payNo,
    odNo,
    payType,
    payPrice,
    payStatus,
    payResNo, payRegdate
    ) VALUES (
    #{payNo},
    #{odNo},
    #{payType},
    #{payPrice},
    1, #{payResNo},
    SYSDATE
    )
  </insert>

  <delete id="deleteCartItemsByOrder" parameterType="map">
    DELETE
    FROM CART
    WHERE userNo = #{userNo}
      AND prdNo IN (SELECT prdNo
                    FROM PAY_PRODUCT_MAPPING
                    WHERE odNo = #{odNo})
  </delete>

  <select id="countPayByOdNo" resultType="int">
    SELECT COUNT(*)
    FROM PAY
    WHERE odNO = #{odNo}
  </select>

</mapper>